<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supplier.admin.mapper.ShippingAddressMapper">
  <resultMap id="BaseResultMap" type="com.supplier.admin.domain.ShippingAddress">
    <id column="sa_id" jdbcType="INTEGER" property="saId" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="area_prov" jdbcType="VARCHAR" property="areaProv" />
    <result column="area_city" jdbcType="VARCHAR" property="areaCity" />
    <result column="area_district" jdbcType="VARCHAR" property="areaDistrict" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="m_id" jdbcType="VARCHAR" property="mId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sa_default" jdbcType="INTEGER" property="saDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    sa_id, consignee, phone, area_prov, area_city, area_district, detail, m_id, create_time, 
    sa_default
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sup_shipping_address
    where sa_id = #{saId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sup_shipping_address
    where sa_id = #{saId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.supplier.admin.domain.ShippingAddress">
    insert into sup_shipping_address (sa_id, consignee, phone, 
      area_prov, area_city, area_district, 
      detail, m_id, create_time, 
      sa_default)
    values (#{saId,jdbcType=INTEGER}, #{consignee,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{areaProv,jdbcType=VARCHAR}, #{areaCity,jdbcType=VARCHAR}, #{areaDistrict,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{mId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{saDefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.supplier.admin.domain.ShippingAddress">
    insert into sup_shipping_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="saId != null">
        sa_id,
      </if>
      <if test="consignee != null">
        consignee,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="areaProv != null">
        area_prov,
      </if>
      <if test="areaCity != null">
        area_city,
      </if>
      <if test="areaDistrict != null">
        area_district,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="mId != null">
        m_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="saDefault != null">
        sa_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="saId != null">
        #{saId,jdbcType=INTEGER},
      </if>
      <if test="consignee != null">
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="areaProv != null">
        #{areaProv,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null">
        #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="areaDistrict != null">
        #{areaDistrict,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="mId != null">
        #{mId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saDefault != null">
        #{saDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.supplier.admin.domain.ShippingAddress">
    update sup_shipping_address
    <set>
      <if test="consignee != null">
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="areaProv != null">
        area_prov = #{areaProv,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null">
        area_city = #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="areaDistrict != null">
        area_district = #{areaDistrict,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="mId != null">
        m_id = #{mId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saDefault != null">
        sa_default = #{saDefault,jdbcType=INTEGER},
      </if>
    </set>
    where sa_id = #{saId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supplier.admin.domain.ShippingAddress">
    update sup_shipping_address
    set consignee = #{consignee,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      area_prov = #{areaProv,jdbcType=VARCHAR},
      area_city = #{areaCity,jdbcType=VARCHAR},
      area_district = #{areaDistrict,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      m_id = #{mId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sa_default = #{saDefault,jdbcType=INTEGER}
    where sa_id = #{saId,jdbcType=INTEGER}
  </update>
</mapper>